In [3]:
import pandas as pd;
df = pd.read_csv("dataset.csv")
df

,text,is_rumor,user.handle,topic
0,Charlie Hebdo became well known for publishing...,0.0,BBCDanielS,charliehebdo
1,"Now 10 dead in a shooting there today RT ""@BBC...",0.0,robbylevy,charliehebdo
2,@BBCDanielS @BBCWorld I'm guessing this is bei...,0.0,ModerateInAll,charliehebdo
3,@BBCDanielS @BBCWorld why would you mention th...,0.0,GabTarquini,charliehebdo
4,@BBCDanielS @BBCWorld perps identified?,0.0,freethought41,charliehebdo
...,...,...,...,...
62440,@AnonyOps @Xplant So that means its ok to torc...,1.0,RianAlden,ferguson
62441,"@RianAlden not at all, but they need to change...",1.0,Xplant,ferguson
62442,@Xplant @AnonyOps Absoluteky. But it pains me...,1.0,RianAlden,ferguson
62443,@Xplant @AnonyOps I'm curious how many of thes...,1.0,RianAlden,ferguson
62444,"@Xplant @AnonyOps You get 15,000 people showin...",1.0,RianAlden,ferguson

In [5]:
df=pd.read_csv(r'C:\Users\RupaP\Downloads\dataset.csv')
df

,text,is_rumor,user.handle,topic
0,Charlie Hebdo became well known for publishing...,0.0,BBCDanielS,charliehebdo
1,"Now 10 dead in a shooting there today RT ""@BBC...",0.0,robbylevy,charliehebdo
2,@BBCDanielS @BBCWorld I'm guessing this is bei...,0.0,ModerateInAll,charliehebdo
3,@BBCDanielS @BBCWorld why would you mention th...,0.0,GabTarquini,charliehebdo
4,@BBCDanielS @BBCWorld perps identified?,0.0,freethought41,charliehebdo
...,...,...,...,...
62440,@AnonyOps @Xplant So that means its ok to torc...,1.0,RianAlden,ferguson
62441,"@RianAlden not at all, but they need to change...",1.0,Xplant,ferguson
62442,@Xplant @AnonyOps Absoluteky. But it pains me...,1.0,RianAlden,ferguson
62443,@Xplant @AnonyOps I'm curious how many of thes...,1.0,RianAlden,ferguson
62444,"@Xplant @AnonyOps You get 15,000 people showin...",1.0,RianAlden,ferguson

In [6]:
df.isnull().sum()

text               0
is_rumor           2
user.handle        2
topic          12777
dtype: int64

In [8]:
df1=df.interpolate()
df1

df1.isnull().sum()

C:\Users\RupaP\AppData\Local\Temp\ipykernel_6712\76764717.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df1=df.interpolate()

text               0
is_rumor           0
user.handle        2
topic          12777
dtype: int64

In [14]:
df2=df1.fillna({
    'topic':"charliehebdo"
})

In [17]:
df3=df2.fillna({
    'user.handle':'RianAlden'
})
df3.isnull().any()
df3.isnull().sum()

text           0
is_rumor       0
user.handle    0
topic          0
dtype: int64

In [19]:
data = df3.duplicated()
data

0        False
1        False
2        False
3        False
4        False
         ...
62440    False
62441    False
62442    False
62443    False
62444    False
Length: 62445, dtype: bool